.about{
    position: relative;
    height: 940px;
    background:url(../images/hai02.jpg) ;
    background-size: 100% 100%;
}
.about-title{
    position: absolute;
    margin-top: 50px;
}


.about-wrap{
    width: 600px;
    line-height: 25px;
    margin-top: 250px;
    float:right;
}
.about-wrap p{
    font-size: 20px;
}
.wrap-one{
    margin-bottom: 1.5rem;
}

.about-info li{
    font-size: 30px;
    line-height: 40px;
}
.about-info li span:first-child {
    font-weight: 600;
    color: #fff;
    width: 130px; 
}

.about-img{
    margin-top: 200px;
    float: left;
}

.about-img img{
    width: 350px;
}


