.hobby{
    height: 940px;
    background:url(../images/hai03.jpg) ;
    background-size: 100% 100%;
}

.hobby-title{
    position: absolute;
    margin-top: 50px;
}

/* .hobby-wrap{
    padding-top: 100px;
} */

.hobby-wrap ul{
    margin-top: 300px;
    margin-left: 140px;
    text-align: center;
    float: left;
}
.hobby-wrap>ul>li{
    margin-bottom: 20px;
}
.hobby-wrap>ul>li>a>img{
    width: 250px;
    height: 350px;
    
}
.little-title{
    font-size: 30px;
    color: rgb(230, 135, 72);
    padding-bottom: 10px;
}
.wrap-ul1{
    width: 260px;
    height: 450px;
    overflow: hidden;
}
.cover-one{
    width: 250px;
    height: 350px;
    margin-top: -354px;
    margin-left: 5px;
    transform-origin: left bottom;
    transform: rotate(-90deg);
    transition: all 2s;
    opacity: 0;
}
.cover-one img{
    width: 250px;
    height: 350px;

}
.wrap-cover-one:hover .cover-one{
    transform:rotate(0deg);
    opacity: 1;
}

.wrap-ul2{
    width: 260px;
    height: 450px;
    overflow: hidden;
}
.cover-two{
    width: 250px;
    height: 350px;
    margin-top: -354px;
    margin-left: 5px;
    transform-origin: right bottom;
    transform: rotate(90deg);
    transition: all 2s;
    opacity: 0;
}
.cover-two img{
    width: 250px;
    height: 350px;

}
.wrap-cover-two:hover .cover-two{
    transform:rotate(0deg);
    opacity: 1;
}

.wrap-ul3{
    width: 260px;
    height: 450px;
    overflow: hidden;
}
.cover-three{
    width: 250px;
    height: 350px;
    margin-top: -354px;
    margin-left: 5px;
    z-index: 100;
    transform-origin: right top;
    transform: rotate(-90deg);
    transition: all 2s;
    opacity: 0;
}
.cover-three img{
    width: 250px;
    height: 350px;
}
.wrap-cover-three:hover .cover-three{
    transform:rotate(0deg);
    opacity: 1;
}



