.home{
    height: 940px;
    padding-top: 1px;
    background:url(../images/chuan1.jpg) ;
    background-size: 100% 100%;
}
.home-wrap{
    float: left;
    margin-top: 150px;
    margin-left: 100px;
}
.home-wrap p{
    font-size: 30px;
    line-height: 45px;
    font-style: oblique;
}

.home-img>img{
    height: 500px;
    margin-top: 140px;
    margin-right: 250px;
    float:right;
}

.wrap-img{
    float:left;
    margin-left: 100px;
    margin-top: 200px;
}
.wrap-img>img{
    width: 250px;
    border-radius: 50%;
    animation: circle 5s linear infinite;
}


@keyframes circle{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}